*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*
    Generale
*/


/*
    HEADER
*/

.sfondo{
    background-color: orangered;
    max-width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
}

.colonna-1{
    display: inline-block;
    text-align: center;
    width: calc((100% / 3) * 1);
}

.link{
    display: inline;
}

.link > *{
    text-decoration: none;
    color: white;
}

.logo{
    display: inline-block;
    text-align: center;
    width: calc((100% / 3) * 1);
}

.logo > img{
    width: 150px;
}

.profilo{
    width: calc((100% / 4) * 1);
    display: inline-block;
    text-align: right;
}

/*
    MAIN
*/

.container-main{
    background-color: red;
    margin-left: 300px;
    margin-right: 300px;
}

.uomo1{
    width: calc((100% / 3) * 1);
}

.uomo1 > img{
    width: 100%;
}